body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
 
  
}

.login-page {
  position: relative; /* Ermöglicht absolute Platzierung der Kinder */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 28vh; /* Optional: Vollbildhöhe */

}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.login-form {
  background-color: #ffffff;
  padding: 2.5rem;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.form-group input {
  padding: 1rem;
  width: 80%; /* Reduziert die Breite, um Abstand von den Seiten zu schaffen */
  margin: 0 auto; /* Zentriert das Input-Feld horizontal */
  border: 1px solid #ccc;
}

.form-group input {
  margin-bottom: 1.2rem;
  text-align: center; /* Zentriert alle Elemente im .form-group */
  padding: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1rem;
  position: relative; /* Ermöglicht flexible Positionierung */
  top: 0px; /* Verschiebt das Feld nach unten */
  left: -15px; /* Verschiebt das Feld nach rechts */
}

.form-group input:focus {
  border-color: #d4ac0d;
  box-shadow: 0px 0px 5px rgba(212, 172, 13, 0.5);
  outline: none;
}

.error-message {
  color: #ff4d4d;
  font-weight: bold;
  margin-bottom: 1rem;
}

.forgot-password a {
  color: #d4ac0d;
  text-decoration: none;
  font-weight: bold;
}

.forgot-password a:hover {
  text-decoration: underline;
  color: #b58e0c;
}

button[type="submit"] {
  background-color: #222e3c;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

button[type="submit"]:hover {
  background-color: #002b47;
  transform: translateY(-2px);
}

button[type="submit"]:active {
  transform: translateY(1px);
}

.login-header {
  position: absolute; /* Ermöglicht exakte Positionierung */
  top: -80px; /* Platzierung über dem Anmeldefenster */
  left: 50%; /* Horizontal zentriert */
  transform: translateX(-50%); /* Exakte Zentrierung */
  padding: 1rem; /* Optional: Abstand innen */
  max-width: 200px; /* Breite des Logos anpassen */
  display: flex;
  justify-content: center;
  align-items: center;
  img { max-width: 257%; height: auto; }
  margin: 0; /* Eventuelle automatische Außenabstände entfernen */
  padding: 0; /* Eventuelle Innenabstände entfernen */
  box-sizing: border-box; /* Paddings und Borders berücksichtigen */
}
.login-header {
  align-self: flex-start; /* Header an den Anfang verschieben */
}

