/* Standard Navbar-Styling */
.navbar {
  background-color: #fff;
  color: #000;
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: 'Helvetica Neue Light', sans-serif;
}

.logo {
  height: 50px; /* Höhe des Logos */
  margin-right: 20px;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
  margin-right: 20px;
  font-weight: 300; /* Leichte Schriftart */
}

a {
  text-decoration: none;
  color: #000; /* Standardfarbe für Links */
  padding: 5px 10px;
  font-weight: 300; /* Leichte Schriftart */
}

/* Spezifisches Styling für "Über Finaera" */
.navbar li a[href*="über-finaera"] {
  background-color: #000; /* Schwarzer Hintergrund */
  color: #fff; /* Weißer Text */
  padding: 5px 10px;
  border-radius: 0; /* Keine abgerundeten Ecken */
}
