/* Allgemeines Styling für die Seite */
.finanzplaner-page {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../components/fpbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0; /* Start mit unsichtbar */
  animation: fadeIn 1s ease-in-out forwards; /* Sanftes Einblenden */
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  opacity: 0; /* Start unsichtbar */
  transition: opacity 1s ease-in-out;
}

.login-wrapper.visible {
  opacity: 1; /* Sichtbar nach dem Einblenden */
}

/* Werbung Styling */
.ad-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  opacity: 0; /* Start unsichtbar */
  animation: fadeIn 1s ease-in-out forwards 3s; /* Einfaden nach 2 Sekunden */
}

.ad-image {
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}

.ad-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #eec240;
  cursor: pointer;
  font-weight: bold;
}

.ad-close-btn:hover {
  color: #d9534f;
}

/* Animation für sanftes Einfaden */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Anpassungen für mobile Geräte */
@media (max-width: 768px) {
  .ad-popup {
    width: 90%;
    padding: 15px;
  }

  .ad-image {
    max-width: 100%;
  }
}
