/* Allgemeines Styling */
.geschaeftsfuehrung-container {
  width: 100%;
  padding: 60px;
  background-color: #e8e4e1;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

/* Freier Bereich unter der Navbar */
.spacer {
  height: 40px;
}

/* Schriftarten */
.signature-font {
  font-family: 'Brittany Signature', cursive;
  font-size: 3rem;
  margin-bottom: 1px;
  margin-top: 100px;
  opacity: 0; /* Start transparent */
  animation: fadeInSlideDown 2s ease-in-out forwards;
}

.title-font {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 4rem;
  font-weight: 450;
  margin-bottom: 75px;
  opacity: 0; /* Start transparent */
  animation: fadeIn 2.5s ease-in-out forwards;
  animation-delay: 0.5s; /* Verzögerung */
}

/* Fotos Styling */
.photos-container {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 30px;
  opacity: 0; /* Start transparent */
  animation: fadeIn 3s ease-in-out forwards;
  animation-delay: 1s; /* Verzögerung */
}

.photo-item {
  text-align: left;
  max-width: 450px;
  transform: translateY(30px); /* Start weiter unten */
  opacity: 0;
  animation: fadeInSlideUp 2s ease-in-out forwards;
}

.photo {
  width: 90%;
  height: auto;
  border-radius: 0px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.photo-item h3 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 22.5px;
  text-align: center;
  margin-top: 60px;
  margin-left: -40px;
}

.photo-item p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 10px;
  line-height: 1.1;
}

/* Keyframes für Fade-Effekte */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSlideDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
