/* Container Layout */
.start-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #787272;
  transition: opacity 1s ease-in-out; /* Sanfter Übergang */
}

.start-container.fade-out {
  opacity: 0; /* Ausblenden */
}

/* Linker Bereich */
.start-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.start-title {
  font-family: "Frathaman Holland";
  font-size: 3rem; /* Größerer Titel */
  font-weight: 500;
  color: #ffffff;
  margin-left: 318px;
  margin-top: -120px;
}

.start-logo {
  width: 600px; /* Größeres Logo */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-left: 120px;
}

.start-logo:hover {
  transform: scale(1.1); /* Logo leicht vergrößern bei Hover */
}

/* Rechter Bereich */
.start-right {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Bildcontainer */
.image-container {
  position: relative;
  width: 80%;
  height: auto;
}

.main-image {
  width: 100%;
  border: 5px solid #f4f4f4;
  border-radius: 0px;
}

.side-image-group {
  display: flex;
  justify-content: space-between;
}

.side-image {
  width: 48%; /* Zwei Bilder nebeneinander */
  border: 5px solid #f4f4f4;
  border-radius: 0px;
}

/* Animationen */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
