.unternehmen-page {
  font-family: Arial, sans-serif;
  background-color: #e8e4e1;
  color: #000000;
  margin: 0 auto;
  padding: 40px 0;
}

/* Obere Sektion */
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.header-text {
  text-align: center;
}

.signature-font {
  font-family: 'Brittany Signature', cursive;
  font-size: 2rem;
  color: #000;
  margin-bottom: 5px;
  margin-left: 10px;
}

.title-font {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  white-space: nowrap;  /* Verhindert Umbrüche */
  margin-left: 150px;
}


.header-image img {
  width: 70%;
  height: auto;
  object-fit: cover;
  margin-left: 250px;
  margin-top: 80px;
  clip-path: inset(10px 0px 10px 0px);
}

/* Mittlere Sektion */
.middle-section {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Galerie links, Text rechts */
  gap: 5%;
  margin-top: 50px;
}

.gallery {
  display: flex; /* Horizontal nebeneinander */
  gap: 5px;
  margin-left: 120px;
}

.gallery img {
  width: 250px; /* Einheitliche Breite */
  height: auto;
  object-fit: cover;
  margin-left: 60px;
}

.text-section {
  line-height: 1.8;
  margin-left: 300px;
  
}

.text-section h3 {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #000;
}

.text-section p {
  margin: 10px 0 0;
  color: #000000;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  margin-top: 10px;


}
